<h1 style="text-align: center; color: black" class="mt-4">Products</h1>
<div class="jumbotron">
    <form action="/" method="post">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
            <label for="product_name">Product Name</label>
        </div>

        <div class="form-floating mb3 mt-2">
            <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
            <label for="product_name">Product Name</label>
        </div>

        <div class="form-floating mb3 mt-2">
            <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
            <label for="product_name">Product Name</label>
        </div>

        <div class="form-floating mb3 mt-2">
            <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
            <label for="product_name">Product Name</label>
        </div>

        <div class="form-floating mb3 mt-2">
            <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
            <label for="product_name">Product Name</label>
        </div>
    </form>
</div>